@import "node_modules/bootstrap/scss/bootstrap";

$font-size: 24px;
$dark-green:#0B4141;
$darker-green:#0b1f1f;
$accent-color: #FFCCBC;
$light-gray: #e5e5e5;



html, body {
  font-size: $font-size;
  color: $dark-green;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.33333rem;
}

h3 {
  font-size: 2.83333rem;
  font-weight: 900;
}
a, .nav-item a{
  color: $dark-green;
  &:hover{
    color: $dark-green;
    text-decoration: none;
  }
}
img{
  max-width: 100%;

}
b{
  font-weight: 800;
}
//*****
.section{
  padding: 100px 0;
}
.text-accent{
  color: $accent-color;
}
.bg-accent{
  background-color: $accent-color;
}
.bg-dark-green{
  background: $dark-green
}
//*****
.section_1{
  padding: 120px 0 120px;
  position: relative;
  img{
      position: absolute;
      //top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
  }
  h1 span:last-child{
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, $dark-green 50%, $darker-green 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.section_2{
  padding: 195px 0;
  background-image: url("../img/sec_2_bg.png");
  background-position: center;
}
.section_3{
  padding: 0;
  img{
    min-height: 700px;
    width: auto;
  }
}
.section_4{
  .row:nth-child(even){
    div:first-child{
      order: 2;
      text-align: right;
    }
    div:last-child{
      order: 1;
    }
  }
}