doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title test html page
        link(rel='stylesheet' href='./css/style.css')
    body
        h1 test
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam consequatur debitis delectus dignissimos doloremque doloribus enim et expedita explicabo fuga hic labore laborum laudantium sapiente, unde veniam vero vitae!
        h2 afdafaf