doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title test html page
        link(rel='stylesheet' href='./css/style.css')
    body
        header
            .container
                nav.navbar.navbar-expand-lg
                    a.navbar-brand(href='#') Cornelia
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav.ms-auto
                            li.nav-item
                                a.nav-link.active( href='#') Learn
                            li.nav-item
                                a.nav-link(href='#') About
                            li.nav-item
                                a.nav-link(href='#') Why
                    form.form-inline
                        button.btn(type='submit') Download

        section.section.section_1
            .container.text-center
                h1
                    span Cornelia <br>is the new <br>
                    span black
                img(src='./img/first_section_img_horse.png')
        section.section.section_2
            .container.text-center
                h2 Toward infinity <br>and beyond
                p Discover your new favourite mascot. With her, boost your imagination and decorate your workspace. May Cornelia accompany you in your daily life and in the most perilous missions you may encounter.
                p With her, give yourself the means to succeed, <b>believe in yourself and in your dreams!</b>

        section.section.section_3
            .container
                .row
                    .col-6
                        h3 Choose your destiny
                        p Each unicorn has its own personality and symbolism. Get to know your new mascot and surround yourself with a strong ally. Thus choose the brave one and you will be able to face any situation. Take the sweet Cornelia and protect your health. If you need more luck, meet the Magic Cornelia! If you’re born to be bold, choose the Impetuous Cornelia : nothing will defeat you.
                        a.btn.btn-transparent(href='#') Learn more about her story
                    .col-6

        section.section.section_4
            .container
                .row
                    .col-6
                        img(src='./img/sec_4_horse_pinc.png')
                    .col-6
                        h3 Always Go Further
                        p Decline Cornelia as you wish! Black, dark grey, white, light grey, prussian blue ... Choose your colour, size and characteristics! And if that's not enough, personalise it to make it unique, in your own image. So open up the field of possibilities,  the world is yours !
                        a(href='#')
                            img(src='./img/sec_4_scroll_mouse.png')
                            |Scroll TO KNOW MORE
                .row
                    .col-6
                        img(src='./img/sec_4_horse_green.png')
                    .col-6
                        h3 Premium <br>  3D Quality
                        p Now the difference between a unicorn and a pegasus is quite clear a unicorn has a horn which usually stores their magically powers while a pegasus can only fly with its gorgeous wings. Now the difference between a unicorn and a pegasus is quite clear a unicorn has a horn.
        section 1
        section 1
        section 1
        section 1
        section 1